<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<div th:replace="fragments/header :: header"> </div>
<table class="table-striped">
		    		<thead>
				      <tr>
				        <th>Block Month</th>
				        <th>Block Start Date</th>
				        <th>Block End Date</th>
				      </tr>
				    </thead>
			    	<tr th:each="block: ${entry.blocks}">
			    		<td th:text="${block.blockMonth}"></td>
			    		<td th:text="${block.blockStartDate}"></td>
			    		<td th:text="${block.blockEndDate}"></td>
			    		
			    		<td>
					        <form method="post" action="/deleteBlock">
					        	<input name="id"  type="hidden" th:value="${block.id}" />
					        	<input name="entry_id"  type="hidden" th:value="${entry.id}" />
					        	<input class="btn btn-danger" type="submit" value="Delete Block" />
					        </form>
					     </td>
					       
					       	<td>
					        <form method="post" action="/findBlock">
					        	<input name="id"  type="hidden" th:value="${block.id}" />
					        	<input name="entry_id"  type="hidden" th:value="${entry.id}" />
					        	<input class="btn btn-primary" type="submit" value="Update Block" />
					        </form>
				        </td>    

			    	</tr>	
		    	</table>	

</body>
</html>