<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Manage Course</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
 <div th:replace="fragments/header :: header-css"></div>
<div th:replace="fragments/header :: header"></div>
<div class="container">

    <div class="starter-template">
        <h1></h1>  <p th:text="${loggedInUser}">Test</p>

        <h1 th:inline="text">Hello!Faculty Page!!! Welcome [[${#httpServletRequest.remoteUser}]]!</h1>

    </div>

</div>
<!-- /.container -->

<div th:replace="fragments/footer :: footer"></div>

</body>
</html>